h5
{
    text-align: center;
}

tr, td, th
{
    border: 1px solid rgb(41, 95, 2);
    text-align: center;
}

th
{
    background-color: #204D02;
    
}

table
{
    max-width: auto;
}

a, a:hover
{
    color: white;
    text-underline-position: top;
    text-decoration: none;
}